p{
    margin-bottom:0;
}
html,
body,
.main,
.main>.row,
.content,
.h100{
    height: 100%;
    overflow: hidden;
}

li{
    list-style-type: none;
}

body{
    background: #eee;
}
.main{
    padding:20px;
}
h3{
    margin-top:0; 
    margin-bottom:0; 
}
.b-border{
    border-bottom: 1px solid #ccc;
}

nav.navbar~.main{
    padding-top:71px;
}

.mtb-4{
    margin-top:4px; 
    margin-bottom:4px; 
}
.hr{
    width: 100%;
    border-top:1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.conent{
    overflow: hidden;
}

.mt-3{
    margin-top: 3px;
}
.mt-10{
    margin-top: 10px;
}
.mt-30{
    margin-top: 30px;
}

.content>.tab-content,
.content>.tab-content .tab-pane{
    height: 100%;
    overflow: hidden;
}

.content .content-header{
    height: 47px;
}

.content .content-body{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.content .content-footer{
    height: 54px;
    padding-top:10px;
    padding-bottom:10px;
}

.text-center th{
    text-align: center;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
      vertical-align: middle;
  }

  .form-text{
    height: 30px;
    line-height: 30px;
    color: #333;
  }