<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;项目进度管理系统</div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav nav">
          <li><a href="/ap/index">学员管理</a></li>
          <li><a href="/ap/score">项目评分</a></li>
          <li><a href="/ap/cm">班级管理</a></li>
          <li><a href="/ap/pm">项目模板</a></li>
        </ul>
      </div>
    </div>
  </nav>