<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学员项目管理系统-项目模板(管理员)</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/style/base.css" />
  <link rel="stylesheet" href="/style/pm.css" />
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <%- include("admHeader") %>
  <div class="container-fluid main">
    <div class="row">
      <%- include("admAside",{list:[
          {href:"pm",text:"项目管理",active:true},
          {href:"addp",text:"添加项目"},
        ]}) %>
      <div class="col-md-10 content open">
        <div class="tab-content">
          <div id="pm" class="tab-pane active">
            <div class="student-panel">
              <%- include("contentHeader",{title:"项目管理"}) %>
              <h5 class="none-project hidden">目前列表为空,请添加项目</h5>
              <div class="content-body hidden">
                <div class="row project-list">
                  <div class="col-md-12 project-item mtb-4">
                    <div class="btn-group btn-group-lg  col-md-12">
                      <a href="javascript:;" class="project-name-btn col-md-9 btn btn-primary">
                        <span class="glyphicon glyphicon-hand-right"></span><span class="name"></span>
                      </a>
                      <a href="javascript:;" class="tab-project-btn col-md-3 btn btn-info">
                        切换为当前项目
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="log-detail hidden">
              <form class="log-panel project-detail form-horizontal">
                <div class="log-header">
                  <div class="col-md-12 b-border">
                    <h3 class="log-title col-md-5 title-text"></h3>
                    <div class=" log-title col-md-5 title-input ">
                      <input class="form-control" value="nodejs" />
                    </div>
                    <div class="col-md-4">
                      <p class="mt-10 fraction">总分:<span>100</span>分</p>
                    </div>
                    <div class="col-md-3 mt-10 pull-right">
                      <a href="javascript:;" class="btn btn-edit text-warning">编辑</a>
                    </div>
                  </div>
                </div>
                <div class="log-body">
                  <div class="row">
                    <div class="col-md-6">
                      <h4 class="text-center text-primary">项目功能点</h4>
                    </div>
                  </div>
                  <div class="functions">
                    <div class="function-item fd_item">
                      <div class="form-group point-name form-group-sm">
                        <label class="control-label col-md-3">功能点:</label>
                        <div class="col-md-8">
                          <input type="text" name="ddtname" class="form-control" />
                          <p class="form-text"></p>
                        </div>
                      </div>
                      <div class="form-group point-fraction form-group-sm">
                        <label class="control-label col-md-3">计分:</label>
                        <div class="col-md-4">
                          <div class="input-group">
                            <input type="text" name="ftn" class="form-control"/>
                            <span class="input-group-addon">分</span>
                          </div>
                          <p class="form-text"><span></span>分</p>
                        </div>
                        <div class="col-md-5">
                          <div class="btn-group btn-group-sm">
                            <a href="javascript:;" class="btn btn-cancel btn-default">取消</a>
                            <a href="javascript:;" class="btn btn-edit btn-warning">编辑</a>
                            <a href="javascript:;" class="btn btn-remove btn-danger">删除</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="add-btn-box">
                    <a href="javascript:;" class="btn-block btn-sm add-function btn btn-info">添加功能点</a>
                  </div>
                  <div class="row ">
                    <div class="col-md-6">
                      <h4 class="text-center text-primary">项目评分点</h4>
                    </div>
                  </div>
                  <div class="deductions">
                    <div class="deduction-item fd_item">
                      <div class="form-group point-name form-group-sm">
                        <label class="control-label col-md-3">评分点:</label>
                        <div class="col-md-8">
                          <input type="text" name="ddtname" class="form-control" />
                          <p class="form-text"></p>
                        </div>
                      </div>
                      <div class="form-group point-fraction form-group-sm">
                        <label class="control-label col-md-3">计分:</label>
                        <div class="col-md-4">
                          <div class="input-group">
                            <input type="text" name="ftn" class="form-control" value="0" />
                            <span class="input-group-addon">分</span>
                          </div>
                          <p class="form-text"><span></span>分</p>
                        </div>
                        <div class="col-md-5">
                          <div class="btn-group btn-group-sm">
                            <a href="javascript:;" class="btn btn-cancel btn-default ">取消</a>
                            <a href="javascript:;" class="btn btn-edit btn-warning ">编辑</a>
                            <a href="javascript:;" class="btn btn-remove btn-danger ">删除</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="add-btn-box">
                    <a href="javascript:;" class="btn-block btn-sm add-deduction btn btn-info">添加评分点</a>
                  </div>
                </div>
                <a href="javascript:;" class="btn-update-submit btn-block btn btn-warning">提交修改</a>
                <a href="javascript:;" class="btn-update-del btn-block btn btn-danger">删除项目</a>
                <a href="javascript:;" class="btn-update-cancel btn-block btn btn-default">取消修改</a>
              </form>
            </div>
          </div>
          <div id="addp" class="tab-pane">
            <%- include("contentHeader",{title:"添加项目"}) %>
            <div class="content-body">
              <form id="add-project-form" class="form-horizontal">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label form="projectname" class="control-label col-md-4">项目名:</label>
                      <div class="col-md-8">
                        <input type="text" name="projectname" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label form="fraction" class="control-label col-md-4">项目总分:</label>
                      <div class="col-md-5">
                        <div class="input-group">
                          <input type="text" name="fraction" id="count-fraction" value="0" disabled class="form-control" />
                          <span class="input-group-addon">分</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="active" checked />切换到当前项目
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row mt-30">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-6">
                        <h4 class="text-center text-primary">项目功能点</h4>
                      </div>
                    </div>
                    <div class="functions points add">
                      <div class="function-item point-item">
                        <div class="form-group">
                          <label class="control-label col-md-4">评分功能:</label>
                          <div class="col-md-8">
                            <input type="text" name="ddtname" class="ddtname form-control" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4">计分:</label>
                          <div class="col-md-5">
                            <div class="input-group">
                              <input type="number" min="0" name="ftn" class="ftn form-control form-fraction" value="0" />
                              <span class="input-group-addon">分</span>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <a href="javascript:;" class="btn btn-danger btn-del">删除</a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <a href="javascript:;" id="add-function" class="btn-block btn btn-info">添加功能点</a>
                    
                  </div>
                  <div class="col-md-offset-2 col-md-4">
                    <div class="row ">
                      <div class="col-md-6">
                        <h4 class="text-center text-primary">项目评分点</h4>
                      </div>
                    </div>
                    <div class="deductions points add">
                      <div class="deduction-item point-item">
                        <div class="form-group">
                          <label class="control-label col-md-4">评分项目:</label>
                          <div class="col-md-8">
                            <input type="text" name="ddtname" class="ddtname form-control" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4">计分:</label>
                          <div class="col-md-5">
                            <div class="input-group">
                              <input type="number" min="0" name="ftn" class="ftn form-control form-fraction" value="0" />
                              <span class="input-group-addon">分</span>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <a href="javascript:;" class="btn btn-danger btn-del">删除</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a href="javascript:;" id="add-deduction" class="btn-block btn-sm btn btn-info">添加评分点</a>
                  </div>
                </div>
              </form>
            </div>
            <div class="content-footer">
              <div class="col-md-offset-4 col-md-4">
                <a href="javascript:;" id="add-project-submit" class="btn-block btn btn-primary">添加</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="/javascripts/adminMain.js"></script>
  <script src="/javascripts/admin_addProjectModule.js"></script>
  <script src="/javascripts/admin_manageProjectModule.js"></script>
</body>

</html>