<div id="lm" class="tab-pane active">
        <div class="student-panel">
          <div class="content-header">
            <div class="row">
              <div class="col-md-3">
                <h3>node项目</h3>
              </div>
              <div class="col-md-2">
                <select id="date" class="form-control input-sm">
                  <option value="today">今天</option>
                  <option value="other">指定日期</option>
                </select>
              </div>
              <div class="col-md-2">
                <input type="date" class="form-control input-sm" disabled />
              </div>
            </div>  
            <div class="row">
              <div class="hr"></div>
            </div>
          </div>
          <div class="content-body">
            <div class="row student-list">
                <div class="col-md-2 mtb-4 student-item">
                  <a href="javascript:;" class="btn btn-block btn-sm btn-primary"></a>
                </div>
            </div>
          </div>
        </div>
        <div class="log-detail">
          <div class="log-panel">
            <div class="log-header">
              <div class="row">
                <h3 class="log-title col-md-6">王小明</h3>
                <div class="col-md-2 col-md-offset-3">
                  <button class="pull-right close-log btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                  aria-valuemax="100" style="width: 10%;">
                  60%
                </div>
              </div>
            </div>
            <div class="row function-list">
              <% for(var i = 0;i < 10; i++){ %>
                <div class="col-md-4 mtb-4">
                  <a href="javascript:;" class="btn btn-block btn-xs btn-primary">登录</a>
                </div>
              <% } %>
            </div>
            <ul class="list-group log-list">
              <% for(var i =0; i < 6; i ++){ %>
                <li class="list-group-item">
                  测试提交123123
                </li>
              <% } %>
            </ul>
            <a href="javascript:;" class="btn-more btn-block btn btn-primary">查看更多</a>
          </div>
        </div>
      </div>